.page {
  font-family: "Roboto", "Arial", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;

  &:has(:target) {
    overflow: hidden;
  }
}

.section {
  &--about {
    padding-left: 32px;
    margin-top: 60px;
    margin-bottom: 92px;

    @include onTablet {
      margin-top: 120px;
      margin-bottom: 132px;
    }

    @include onDesktop {
      margin-top: 120px;
      margin-bottom: 164px;
    }
  }

  &--compare {
    margin-bottom: 92px;

    @include onTablet {
      margin-bottom: 88px;
    }

    @include onDesktop {
      margin-bottom: 112px;
    }
  }

  &--details {
    margin-bottom: 80px;

    @include onTablet {
      margin-bottom: 120px;
    }

    @include onDesktop {
      margin-bottom: 180px;
    }
  }

  &--contact-us {
    margin-bottom: 120px;

    @include onTablet {
      margin-bottom: 120px;
    }

    @include onDesktop {
      margin-bottom: 182px;
    }
  }
}
